*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/ezgif.com-video-to-gif-converter.gif);
    background-position: center;
    background-size: cover;
    position:relative

}
.header{
    align-items: right;
    padding: 1% 4%;
}
.logo-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
  }
  .logo {
    max-width: 150px;
    margin-right: 20px; 
  }
  .footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  nav {
    display: flex ;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 3;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:  1% 136px;
    position: center;
}
.nav-links ul li a{
    color: rgba(255, 255, 255, 0.945);
    text-decoration: double;
    font-size: 30px;
}
.nav-links ul li::after{
    content: '';
    width: 0px ;
    height: 4px ;
    background: rgb(207, 8, 8);
    display: block;
    margin: auto;
    transition: 0.5;
}

.nav-links ul li:hover::after{
    width:100% ;
}
.text-box{
    width: 90%;
    color:rgb(180, 178, 178);
    position: absolute;
    top: 55%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    line-height: 2.0;
}

.text-box h1{
    font-size: 55px ;

}
.text-box p{
    margin: 20px 60 px;
    font-size: 55px;
    color: rgb(162, 162, 172);
    align-items: flex-end;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid #ffffff;
    box-shadow: #000000;
    border-radius: 20px;
    padding: 14px 34px;
    font-size: 20px;
    background: url(images/youtube.png)center center/cover no-repeat;
    position: relative;
    cursor: pointer;
   
   
}
.hero-btn:hover{
    border:1px solid #fff6ff ;
    background: #e9e9e9;
    transition: 1s;
    
    
}
@media(max-width: 700px) {}
 .text-box h1{
    font-size: 55px;
    }
.images{
    width: 300px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    bottom: 0;
}